<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/uikit.min.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{asset('assets/js/uikit.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/uikit-icons.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
